* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

html,
body {
  overflow-x: hidden;
}

html, body, input, button {
  font-family: "Lato", sans-serif;
  background: transparent;
}

html {
  font-size: 62.5%;

  @media (max-width: 1477px) {
    font-size: 57%;
  }
  @media (max-width: 1366px) {
    font-size: 62.5%;
  }
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
}
